body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F0F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div ul li:hover{
  text-shadow: 0 0 1px white;
}

table {
  margin-left: 300px;
  font-size: 14px;
  border-collapse: collapse;
}

.navBar {
  background-color: #663399;
  height: 45px;
}

.navBarInitialListItem {
  margin-left: 240px;
  margin-top: 11px;
  margin-right: 100px;
}

.navBarLink {
  text-decoration: none;
  color: white;
}

.navBarList {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navBarListItem {
  margin-top: 11px;
  margin-right: 100px;
}

.table-content th {
  font-weight: 400;
  font-size:14px;
  width: 50px;
  height: 50px;
  border-bottom: solid 1px #D3D3D3;
}

.table-content-last-child th {
  font-weight: 400;
  font-size:14px;
  width: 50px;
  height: 50px;
}

.table-headers {
  height: 80px;
}

.th-wide {
  width: 125px;
}
